<!DOCTYPE html>
<html ng-controller="MainController">
<head>
	<title ng-bind="pageTitle"></title>

	<!-- font awesome from BootstrapCDN -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
	<link rel="stylesheet" type="text/css" href="<%= file %>"/>
	<% }); %>

	<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script>
	<% }); %>

	<!-- Application Configuration-->
	<script type="text/javascript" src="assets/configuration.js"></script>
</head>

<body>
<div class="container">
	<header>
		<div class="row">
			<div class="col-xs-12">
				<nav>
					<div class="pull-right">
						<button type="button" class="nav-button">About Me</button>
						<button type="button" class="nav-button">Resume</button>
						<button type="button" class="nav-button">Projects</button>

						<button type="button" class="nav-button">Technical</button>
						<button type="button" class="nav-button">Design</button>
						<button type="button" class="nav-button">Development</button>
					</div>
				</nav>
				<h1>Aaron C Willows</h1>
			</div>
		</div>
	</header>


	<div class="row">
		<div class="col-xs-12">
			<div ui-view="main"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Aaron C Willows 2014</p>
			</footer>
		</div>
	</div>
</div>
</body>
</html>
