<section>
<div ng-repeat="skill in skills" class="row">
	<article>
	<skill-bar title-text="skill[0].title"
			   image-src="skill[0].imageSrc"
			   orientation="skill[0].orientation"
			   flavor-text="skill[0].flavorText">
	</skill-bar>
	</article>

	<article>
	<skill-bar title-text="skill[1].title"
			   image-src="skill[1].imageSrc"
			   orientation="skill[1].orientation"
			   flavor-text="skill[1].flavorText">
	</skill-bar>
	</article>
</div>
</section>