<section>
	<div class="row">
		<div class="col-xs-12">
			<article>
				<h2 class="section-header">Version Control</h2>
				<p>Version control is vital for any reasonably sized project. Its also the foundation for collaboration and continuous integration.</p>
				<p>I have worked with large code bases in both git and svn. Currently I am using git, and prefer is over svn.</p>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<article>
				<h2 class="section-header">Build Automation</h2>
				<p>Automating the build process is a vital part of a developers workflow. Automation tools such as grunt can catch errors before they are deployed to production. They can also optimize code for deployment by minifiying css and JavaScript.</p>
				<p>Often automation tools are triggered when the developer clicks the build button (or executes the script), but they can also be part of a continuous integration environment. This kind of environment can provide visibility to problems with the code and make deployment a breeze.</p>
				<p>I have used GruntJS to build front end applications and Maven to build Java applications. I have had limited experience with configuring Jenkins for continuous integration.</p>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<article>
				<h2 class="section-header">Design Patterns</h2>
				<p>Design patterns are common conventions or recipes for solving the problems that commonly occur in software development. Not only do design patterns provide solutions, learning them can provide better instincts about how to solve specific problems well.</p>
				<p>I have experience implementing and recognizing design patterns in a variety of programming languages and applications. This is what initially drew me to AngularJS, I recognized a number of successful patterns that it implemented. AngularJS makes heavy use of design pattens, including Inversion of Control and the Observer pattern.</p>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<article>
				<h2 class="section-header">Agile Teams</h2>
				<p>While Agile is a somewhat nebulous concept, I believe an "Agile" team is one that mostly adheres to the Agile Manifesto. I have worked on agile teams throughout my career, and believe that the principle behind agile methodologies are sound, even if they aren't always implemented perfectly.</p>
				<p>More specifically, I have used Agile-Scrum in software development. Before my career in software development, I worked in manufacturing and used Kanban methodologies to implement lean manufacturing.</p>
			</article>
		</div>
	</div>
</section>


