<section>
	<div class="row">
		<div class="col-xs-12">
			<article>
				<h2 class="section-header">Personal Sites</h2>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">This Website</h3>
					</div>
					<div class="panel-body">
						<p>This website was built using <a href="https://angularjs.org/">AngularJS</a> and a modified bootstrap3 css framework. It was built with a <a href="http://yeoman.io/">Yeoman</a>, <a href="http://gruntjs.com/">Grunt</a>, and <a href="http://bower.io/">Bower</a> stack.</p>

						<h3>Highlights</h3>
							<ul>
								<li><a ui-sref="nonogram">Nonograms</a> </li>
							</ul>

					</div>
				</div>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<article>
				<h2 class="section-header">Professional Sites</h2>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Holland America</h3>
					</div>
					<div class="panel-body">
						<div class="col-xs-6">
							<p>In my current position I have supported various Holland America web applications, including the online booking, check-in and shopping applications.</p>
							<p>Recently, I have been an advocate for using AngularJS to develop new internal and external applications.</p>
						</div>
						<div class="col-xs-6">
							<img src="assets/images/screenshots/booking.PNG" class="img-responsive" alt="Booking Application Screenshot">
						</div>


					</div>
				</div>
			</article>
		</div>
	</div>
</section>
