/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';



/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

body {
  text-shadow: 0px 1px 1px #000;
  background-image: url('bg/stressed_linen.png');
}


button.nav-button {
  outline: none;
  font-size: larger;
  background-color: transparent;
  border: none;
  border-bottom: solid thick transparent;
}

button.nav-button:hover {
  border-bottom: solid thick white;
}

button.nav-button-active {
  border-bottom: solid thick white;
}

h3.article-title {
  border-bottom: solid thin #666666;
}

.bottom-text {
  color: #666666;
  padding-top:8px;
  -webkit-box-shadow: #AAA 0 -1px 0;
  box-shadow: #AAA 0 -1px 0;
}

select {
  cursor: pointer;
}


//.section-header {
//  overflow: hidden
//}
//
//.section-header:after {
//  background-color: #666666;
//  content: "";
//  display: inline-block;
//  height: 1px;
//  position: relative;
//  vertical-align: middle;
//  width: 100%;
//}
//.section-header:after {
//  left: 0.5em;
//  margin-right: -50%;
//}

.section-header {
  overflow: hidden;
  text-align: center;
}
.section-header:before,
.section-header:after {
  background-color: #666666;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.section-header:before {
  right: 0.5em;
  margin-left: -50%;
}
.section-header:after {
  left: 0.5em;
  margin-right: -50%;
}

.new-callout {
//	color: red;
    text-shadow: none;

}

.new-callout:before {
  color: red;
//  font-family: "Glyphicons Halflings";
//  content: "\E007"; //Star
  content: "!"; //Astrix
  font-size: @font-size-large + 4;

  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0% {
	-webkit-transform: scale(0.5, 0.5);
  }
  50% {
	-webkit-transform: scale(2.0, 2.0);
  }
  100% {
	-webkit-transform: scale(0.5, 0.5);
  }
}



//.container {
//  overflow: hidden;
//}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

 /* Removing this until the sub generators are built
@import '../app/home/home.less';
*/

@import '../components/directives/skillBar/skillBar.less';
@import '../components/directives/nonogram/nonogram.less';

@import '../app/attributions/attributions.less';

