<div class="row">
	<div class="col-xs-12 attributions">
		<table class="table attributions">
			<thead>
			<tr>
				<th>Item</th>
				<th>Link</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Background Image</th>
				<td>"Stressed Linen" by Jordan Pittman from <a href="http://subtlepatterns.com/">Subtle Patterns</a></td>
			</tr>
			<tr>
				<th>HTML5 / CSS3 Logo</th>
				<td><a href="http://www.w3.org/html/logo">http://www.w3.org/html/logo</a></td>
			</tr>
			<tr>
				<th>Git Logo</th>
				<td><a href="http://git-scm.com/downloads/logos">http://git-scm.com/downloads/logos</a></td>
			</tr>
			<t>
				<th>Icons</th>
				<td><a href="http://glyphicons.com/">Glyphicons</a> via bootstrap3</td>
			</t>

			</tbody>

		</table>

	</div>
</div>