<div class="row">
	<div class="col-sm-12">

		<p>Nonograms (sometimes called Picross) are a Japanese puzzle about filling in a grid to reveal a hidden picture.</p>
		<p>The bold numbers on the grid indicate how many cells on that row or column should be filled in. If there is more than one number in the row or column, there will be multiple "runs" of numbers in that row or column. Each run will be sepearted by at least one empty cell.</p>

		<p>Left Click on one of the cells below to highlight it. To eliminate cells, right click on them to place an "X". Click on the "Reveal" button to reveal the picture.</p>

	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<nonogram></nonogram>
	</div>
</div>

