<!DOCTYPE html>
<html ng-controller="MainController">
<head>
	<title ng-bind="browserTitle"></title>

	<!-- font awesome from BootstrapCDN -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
	<link rel="stylesheet" type="text/css" href="<%= file %>"/>
	<% }); %>

	<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script>
	<% }); %>

	<!-- Application Configuration-->
	<script type="text/javascript" src="assets/configuration.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50652035-1', 'aaronwillows.com');
		ga('send', 'pageview');

	</script>
</head>

<body>
<div class="container">
	<header>
	<div class="row">
		<div class="col-xs-12">
			<nav>
				<div class="pull-right">
					<button class="nav-button" ui-sref-active="nav-button-active" ui-sref="about">About Me</button>&middot;
					<button class="nav-button" ui-sref-active="nav-button-active" ui-sref="projects">Projects</button>&middot;
					<button class="nav-button" ui-sref-active="nav-button-active" ui-sref="development">Development</button>&middot;
					<button class="nav-button" ui-sref-active="nav-button-active" ui-sref="design">Design</button>&middot;
					<button class="nav-button" ui-sref-active="nav-button-active" ui-sref="resume">Resume</button>
				</div>
			</nav>
			<h1>Aaron C Willows <small>{{ pageTitle }}</small></h1>
		</div>
	</div>
	</header>


	<aside>
	<div class="row" ng-show="alertOpen">
		<div class="col-xs-12">
			<alert type="'info'" close="closeAlert()">
				This site is still under development and new sections and features are being regularly added.
				<p><strong class="new-callout"></strong> Just added iteration 2 of <a ui-sref="nonogram">Nonograms</a></p>

			</alert>
		</div>
	</div>
	</aside>

	<div class="row">
		<div class="col-xs-12">
			<div ui-view="main"></div>
		</div>
	</div>

	<footer>
	<div class="row">
		<div class="col-xs-12 ">
			<div class="text-center">
				<p class="bottom-text">Aaron C Willows 2014
					&mdash; Built using open and free code and images: <a ui-sref="attributions" href="http://git-scm.com/downloads/logos">Attributions</a>
				</p>
			</div>
		</div>
	</div>
	</footer>
</div>
</body>
</html>
