<div>


	<div class="form-horizontal">

		<div class="form-group">
			<div class="col-xs-2 text-right"><label for="puzzleSelectbox">Select Puzzle</label></div>
			<div class="col-xs-10">
				<select id="puzzleSelectbox" class="form-control" ng-model="selectedPuzzle" ng-change="loadPuzzle()">
					<option ng-repeat="puzzle in puzzlesAvailable" value="{{ puzzle }}">Puzzle {{ $index + 1 }}</option>
				</select>
			</div>
		</div>
	</div>

	<div ng-show="selectedPuzzle">
		<button class="btn btn-primary"
				ng-model="displayModes.revealPicture"
				btn-checkbox
				btn-checkbox-true="true"
				btn-checkbox-false="false">
			<i class="glyphicon" ng-class="{'glyphicon-check': displayModes.revealPicture, 'glyphicon-unchecked': !displayModes.revealPicture}"></i> Reveal Picture
		</button>

		<button class="btn btn-primary"
				ng-model="displayModes.showWrongMoves"
				btn-checkbox
				btn-checkbox-true="true"
				btn-checkbox-false="false">
			<i class="glyphicon" ng-class="{'glyphicon-check': displayModes.showWrongMoves, 'glyphicon-unchecked': !displayModes.showWrongMoves}"></i> Show Wrong Moves
		</button>

		<button class="btn btn-primary" ng-click="clearGrid()">Clear Puzzle</button>

	</div>

	<div class="alert alert-success nonogram-alert" ng-show="puzzleState.complete">Puzzle Complete!</div>

	<div class="nonogram" ng-show="selectedPuzzle">
		<table class="nonogram">

		<thead>
		<tr ng-repeat="columnHintRow in hints.columns.hints track by $index" ng-class="{'top-header': $last}">

			<td ng-repeat="paddingCell in hints.rows.hints[0] track by $index">&nbsp;</td>

			<th ng-repeat="hint in columnHintRow track by $index">{{ hint }}</th>
		</tr>
		</thead>

		<tbody>

		<tr ng-repeat="cellRow in puzzle.grid track by $index">
			<th ng-repeat="cellHeader in hints.rows.hints[$index] track by $index">{{ cellHeader }}</th>

			<td ng-repeat="cell in cellRow track by $index"
				ng-click="onClick($event)"
				context-menu="onRightClick($event)"
				data-row="{{ $parent.$index }}"
				data-column="{{ $index }}"
				ng-class="{'marked': cell.actualState == 'marked', 'no': cell.actualState == 'no', 'cheat': displayModes.revealPicture && cell.correctState == 'marked', 'bad': showBadCell(cell) }">

			</td>

		</tr>

		</tbody>

		</table>


	</div>
</div>