/*
 * nonogram.less
 *
 * Created: Saturday, May 31, 2014
 */



div.nonogram-alert {
  margin-top: 8px;
}

div.nonogram{
  position: relative;
  width: 50%;
  background-color: white;
  color: #000;
  text-shadow: none;

  margin-top: 8px;
  margin-bottom: 8px;
}
div.nonogram:before{
  display: block;
  padding-top: 75%;
}


div.nonogram {

  table {
	width: 100%;
	border: solid thin #000000;
  }

  td, th {
	height: 36px;
	width:36px;
	max-height: 36px;
	max-width: 36px;
	text-align: center;
  }



  //Header
  //Vertical small cell border
  thead > tr > th {
	border-right: solid thin #000000;
  }

  //Vertical header area border
  thead > tr > td:last-of-type {
	border-right: solid medium #000000;
  }

  thead > tr:last-child > th {
	border-bottom: solid medium #000000;
  }

  thead > tr:last-child > td {
	border-bottom: solid medium #000000;
  }




  //Vertical big cell border
  thead > tr > th:nth-of-type(5n) {
	border-right: solid medium #000000;
  }

  //Body
  //Small cell hover
  tbody > tr > td:hover {
	background-color: lightskyblue;
	cursor: pointer;
  }


  tbody > tr > td.marked {
	background-color: lightgreen;
  }

  tbody > tr > td.cheat {
	background-color: red;
  }

  td.no {
	background-color: lightgoldenrodyellow;
  }

  tbody > tr > td.no:after {
	color: red;
	font-family: "Glyphicons Halflings";
	content: "\E014";
	font-weight: lighter;
  }

  tbody > tr > td.bad:after {
	color: red;
	font-family: "Glyphicons Halflings";
	content: "\E090";
	font-weight: lighter;
  }

  //Horizontal header area border
  tbody > tr > th {
	border-bottom: solid thin #000000;
  }

  //Vertical header area border
  tbody > tr > th:last-of-type {
	border-right: solid medium #000000;
  }

  //Small cell border
  tbody > tr >  td {
	text-align: center;
	border: solid thin black;
  }

  //Horizontal big cell border
  tbody > tr:nth-of-type(5n) {
	border-bottom: solid medium #000000;
  }

  //Vertical bic cell border
  tbody > tr > td:nth-of-type(5n) {
	border-right: solid medium #000000;
  }




}