/*
 * skillBar.less
 *
 * Created: Wednesday, May 07, 2014
 */


.skill-box {
  -moz-box-shadow: 0px 0px 10px #FFF;
  -webkit-box-shadow: 0px 0px 10px #FFF;
  box-shadow: 0px 0px 10px #FFF;

  height: 166px;
  border: none;

}


.skill-box:hover {
  -moz-box-shadow: 0px 0px 20px #FFF;
  -webkit-box-shadow: 0px 0px 20px #FFF;
  box-shadow: 0px 0px 20px #FFF;


}

.skill-box-right {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.skill-box-left {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.skill-title {
  border-right: solid thin black;
}

.skill-image-right {
  padding-right: 16px;
  margin-right: 4px;
  border-right: groove thin #1a1a1a;
  box-shadow: 1px 0 5px -4px #FFF;
}

.skill-image-left {
  padding-left: 15px;
  margin-left: 4px;
  border-left: groove thin #1a1a1a;
  box-shadow: -1px 0 5px -4px #FFF;
}

.skill-text {
  color: #CCC;
}
