<div class="col-md-6 col-xs-12">
	<div class="well skill-box skill-box-left" ng-if="orientation=='left'">
		<div class="skill-image-left pull-right">
			<img ng-src="{{ imageSrc }}" alt="HTML5 Logo" width="128px" height="128px">
		</div>
		<h3>{{ titleText }}</h3>
		<p class="skill-text">{{ flavorText }}</p>
	</div>


	<div class="well skill-box text-right skill-box-right" ng-if="orientation=='right'">
		<div class="skill-image-right pull-left">
			<img ng-src="{{ imageSrc }}" alt="HTML5 Logo" width="128px" height="128px">
		</div>
		<h3>{{ titleText }}</h3>
		<p class="skill-text">{{ flavorText }}</p>
	</div>
</div>
